@import url(//fonts.googleapis.com/css?family=Monda:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans);
.breadcrumbs {
    background-color: #585f69;
    padding: 3px 0 1px;
    box-shadow: inset 0 0 4px #eee
}

.breadcrumbs h1 {
    color: #e4e4e4;
    font-size: 24px;
    margin-top: 12px
}

.breadcrumb {
    top: 9px;
    padding: 1px 2px;
    background: 0 0;
    position: relative
}

.breadcrumb a {
    color: #e4e4e4
}

.breadcrumb li a:hover,
.breadcrumb li.active {
    text-decoration: none
}

.page-icon {
    margin-top: 10px;
    margin-left: 10px
}

.board-meeting-box a {
    text-align: left
}

.board-meeting-box a i {
    float: left;
    font-size: 26px;
    margin-left: 7px
}

.board-meeting-box a span {
    padding: 0 0 0 10px
}

.top-v1 {
    background: #fdfdfd
}

.top-v1 ul {
    margin: 0;
    padding: 0
}

.top-v1 .top-v1-contacts li {
    color: #666;
    padding: 5px 0;
    font-size: 12px;
    margin-right: 15px;
    display: inline-block
}

.top-v1 .top-v1-contacts i {
    color: #999;
    font-size: 13px;
    margin-right: 3px
}

.top-v1 .top-v1-data {
    text-align: right
}

.top-v1 .top-v1-data li {
    padding: 5px 11px;
    display: inline-block;
    height: 33px;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #f0f0f0
}

.top-v1 .top-v1-data li:first-child {
    border-left: solid 1px #eee
}

.top-v1 .top-v1-data li a {
    font-size: 12px
}

.top-v1 .top-v1-data li a:hover {
    text-decoration: none
}

.top-v1 .top-v1-data li i {
    color: #777;
    font-size: 13px
}

.top-v1 .top-v1-data li a:hover i {
    color: #e67e22
}

@media (max-width:992px) {
    .top-v1 ul {
        text-align: center!important
    }
    .top-v1 .top-v1-contacts {
        margin: 10px 0
    }
    .top-v1 .top-v1-data li {
        top: 1px;
        padding: 6px 16px;
        margin-left: -5px;
        position: relative;
        border: 1px solid #eee
    }
}

.goog-te-gadget {
    font-size: inherit!important
}

.goog-te-gadget-simple {
    padding: 0;
    border: 0 solid #fff!important
}

* {
    border-radius: 0!important
}

body {
    color: #333;
    font-size: 13px;
    line-height: 1.6
}

a,
li,
p {
    color: #555;
    line-height: 1.6
}

a,
a:active,
a:focus,
a:hover {
    outline: 0!important
}

a:hover {
    text-decoration: underline
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 5px;
    text-shadow: none;
    font-weight: 400!important;
    font-family: 'Open Sans', sans-serif
}

h1 i,
h2 i,
h3 i,
h4 i,
h5 i {
    margin-right: 7px
}

img.img-circle {
    border-radius: 50%!important
}

.text-justify p {
    text-align: justify
}

.table thead>tr>th {
    border-bottom: none
}

.form-control {
    box-shadow: none
}

.form-control:focus {
    border-color: #bbb;
    box-shadow: 0 0 2px #c9c9c9
}

.form-spacing .form-control {
    margin-bottom: 15px
}

.pager li>a:focus,
.pager li>a:hover,
.pagination li a:hover {
    color: #fff
}

.btn {
    box-shadow: none
}

.btn-u {
    border: 0;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 13px;
    position: relative;
    display: inline-block;
    color: #fff!important;
    text-decoration: none!important
}

.btn-u:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.btn-u-small {
    padding: 3px 12px
}

.btn-u-lg {
    font-size: 18px;
    padding: 10px 25px
}

a.btn-u {
    padding: 4px 13px;
    vertical-align: middle
}

a.btn-u-small {
    padding: 2px 12px
}

a.btn-u-lg {
    font-size: 18px;
    padding: 6px 25px
}

@-moz-document url-prefix() {
    .footer-subsribe .btn-u {
        padding-bottom: 5px
    }
}

@media (max-width:768px) {
    @-moz-document url-prefix() {
        .btn-u {
            padding-bottom: 5px
        }
    }
}

.btn-u-blue {
    background: #3498db!important
}

.btn-u-blue:hover {
    background: #2980b9!important
}

.btn-u-red {
    background: #e74c3c!important
}

.btn-u-red:hover {
    background: #c0392b!important
}

.btn-u-orange {
    background: #e67e22!important
}

.btn-u-orange:hover {
    background: #d35400!important
}

.btn-u-sea {
    background: #1abc9c!important
}

.btn-u-sea:hover {
    background: #16a085!important
}

.btn-u-green {
    background: #2ecc71!important
}

.btn-u-green:hover {
    background: #27ae60!important
}

.btn-u-yellow {
    background: #f1c40f!important
}

.btn-u-yellow:hover {
    background: #f39c12!important
}

.btn-u-default {
    background: #95a5a6!important
}

.btn-u-default:hover {
    background: #7f8c8d!important
}

.fa-heading .headline {
    margin-bottom: 20px
}

.fa-heading .headline h2 {
    font-size: 19px
}

.fa-icons li {
    margin-bottom: 3px;
    background: #fafafa;
    font-size: 18px;
    border: 1px solid #eee;
    font-family: "Open Sans"
}

.fa-icons li i {
    padding: 4px;
    min-width: 30px;
    font-size: 24px;
    background: #eee;
    margin-right: 5px
}

.fa-icons li:hover i {
    color: #fff
}

.style-icons i {
    display: inline-block!important
}

.style-icons a:hover {
    text-decoration: none
}

i.icon-round {
    color: #666;
    padding: 7px 0;
    min-width: 40px;
    font-size: 22px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 50%!important
}

i.icon-round-lg {
    min-width: 55px;
    font-size: 35px;
    padding: 10px 0;
    line-height: 33px;
    margin-bottom: 10px;
    border-radius: 50%!important
}

i.icon-round-sm {
    padding: 5px 0;
    font-size: 16px;
    min-width: 30px
}

i.icon-color-blue {
    color: #3498db;
    background: 0 0;
    border: 1px solid #3498db
}

i.icon-color-red {
    color: #e74c3c;
    background: 0 0;
    border: 1px solid #e74c3c
}

i.icon-color-sea {
    color: #1abc9c;
    background: 0 0;
    border: 1px solid #1abc9c
}

i.icon-color-green {
    color: #2ecc71;
    background: 0 0;
    border: 1px solid #2ecc71
}

i.icon-color-yellow {
    color: #f1c40f;
    background: 0 0;
    border: 1px solid #f1c40f
}

i.icon-color-orange {
    color: #e67e22;
    background: 0 0;
    border: 1px solid #e67e22
}

i.icon-color-grey {
    color: #95a5a6;
    background: 0 0;
    border: 1px solid #95a5a6
}

i.icon-bg-blue,
i.icon-bg-default,
i.icon-bg-green,
i.icon-bg-grey,
i.icon-bg-orange,
i.icon-bg-red,
i.icon-bg-sea,
i.icon-bg-yellow {
    color: #fff;
    border: none
}

i.icon-bg-blue {
    background: #3498db
}

i.icon-bg-red {
    background: #e74c3c
}

i.icon-bg-sea {
    background: #1abc9c
}

i.icon-bg-green {
    background: #2ecc71
}

i.icon-bg-yellow {
    background: #f1c40f
}

i.icon-bg-orange {
    background: #e67e22
}

i.icon-bg-grey {
    background: #95a5a6
}

i.icon-bg-default {
    background: #666
}

.bs-glyphicons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    margin: 0 -1px -1px 0;
    border: 1px solid #ddd
}

.bs-glyphicons .glyphicon {
    display: block;
    font-size: 24px;
    margin: 5px auto 10px
}

.bs-glyphicons li:hover {
    background-color: #fafafa
}

@media (min-width:768px) {
    .bs-glyphicons li {
        width: 12.5%
    }
}

li [class*=" icon-"],
li [class^=icon-] {
    width: 1.25em;
    text-align: center;
    display: inline-block
}

li [class*=" icon-"].icon-lg,
li [class^=icon-].icon-lg {
    width: 1.5625em
}

.color-sea {
    color: #1abc9c
}

.color-red {
    color: #e74c3c
}

.color-blue {
    color: #3498db
}

.color-green,
.color-orange {
    color: #e67e22
}

.color-green1 {
    color: #2ecc71
}

.lft-img-margin {
    margin: 0 20px 5px 0
}

.rgt-img-margin {
    margin: 0 0 5px 10px
}

.overflow-hidden {
    overflow: hidden
}

.padding-left-5 {
    padding-left: 5px
}

.img-width-200 {
    width: 200px
}

.img-border {
    border: 3px solid #fff
}

.bg-light {
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #fcfcfc;
    border: 1px solid #e5e5e5
}

.bg-light:hover {
    border: 1px solid #bbb
}

a.read-more {
    font-weight: 700;
    text-decoration: none
}

.linked:hover,
a.read-more:hover {
    text-decoration: none
}

.pagination-no-space .pagination {
    margin: 0
}

.hover-effect {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hover-effect-kenburn {
    left: 10px;
    margin-left: -10px;
    position: relative;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.hover-effect-kenburn:hover {
    -webkit-transform: scale(2) rotate(5deg);
    -moz-transform: scale(2) rotate(5deg);
    -o-transform: scale(2) rotate(5deg);
    -ms-transform: scale(2) rotate(5deg);
    transform: scale(2) rotate(5deg)
}

.margin-bottom-10,
.margin-bottom-20,
.margin-bottom-25,
.margin-bottom-30,
.margin-bottom-35,
.margin-bottom-40,
.margin-bottom-5,
.margin-bottom-50,
.margin-bottom-60 {
    clear: both
}

.margin-bottom-5 {
    margin-bottom: 5px
}

.margin-bottom-10 {
    margin-bottom: 10px
}

.margin-bottom-20 {
    margin-bottom: 20px
}

.margin-bottom-25 {
    margin-bottom: 25px
}

.margin-bottom-30 {
    margin-bottom: 30px
}

.margin-bottom-35 {
    margin-bottom: 35px
}

.margin-bottom-40 {
    margin-bottom: 40px
}

.margin-bottom-50 {
    margin-bottom: 50px
}

.margin-bottom-60 {
    margin-bottom: 60px
}

.margin-top-10 {
    margin-top: 10px
}

.clients {
    box-shadow: none!important;
    margin-bottom: 0!important;
    border: 0;
    overflow: hidden;
    margin-top: 10px
}

.clients li {
    float: left;
    overflow: hidden;
    margin-left: 1px;
    position: relative;
    background: #fafafa
}

.clients li:hover {
    background: #f6f6f6
}

.clients li img.color-img {
    top: 0;
    left: 0;
    display: none;
    position: absolute
}

.clients li:hover img.color-img {
    display: block
}

.clients li img {
    filter: gray;
    float: none!important;
    margin: 0 auto!important
}

.clients li img:hover {
    filter: none
}

.flexslider {
    margin-top: 10px!important;
    background: none!important
}

.flexslider.home {
    border: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 30px
}

.flexslider .flex-direction-nav a {
    margin-top: -10px!important
}

.fancybox-overlay.fancybox-overlay-fixed {
    z-index: 9999
}

.zoomer:hover .overlay-zoom .zoom-icon {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: .4;
    filter: alpha(opacity=50)
}

.overlay-zoom {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    z-index: 90
}

.overlay-zoom .zoom-icon {
    background-image: url(../img/overlay-icon.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    z-index: 100;
    filter: alpha(opacity=0);
    top: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden
}

.slider-inner .da-slider {
    box-shadow: none;
    border-bottom: 2px solid #ddd
}

.bg-black-opacity {
    background: url(../img/sliders/revolution/bg-text.png);
    padding: 7px;
    text-shadow: none!important
}

.fullwidthbanner-container {
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%!important;
    max-height: 500px!important
}

.layer_slider {
    overflow: hidden
}

.ls-ct-center,
.ls-ct-half {
    border-radius: 100px!important
}

.responsive-video {
    height: 0;
    padding-top: 1px;
    position: relative;
    padding-bottom: 56.25%
}

.responsive-video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute
}

.boxed-layout {
    padding: 0;
    border-left: solid 1px #f7f7f7;
    border-right: solid 1px #f7f7f7
}

i.style-switcher-btn {
    right: 0;
    top: 37px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    z-index: 555555;
    position: fixed;
    padding: 7px 9px;
    background: #585f69;
    border-radius: 6px 0 0 6px!important
}

i.style-switcher-btn:hover {
    background: #707985
}

i.style-switcher-btn-option {
    top: 38px;
    background: #9097a0
}

i.style-switcher-btn-option:hover {
    background: #707985
}

.style-switcher {
    right: 0;
    top: 37px;
    width: 205px;
    display: none;
    z-index: 555555;
    position: fixed;
    background: #585f69;
    border: 1px solid #666d76;
    padding: 15px 15px 15px 20px;
    border-radius: 6px 0 0 6px!important
}

.style-switcher-inner {
    background: #9097a0
}

.style-switcher .theme-close {
    top: 10px;
    right: 6px;
    position: absolute
}

.style-switcher .theme-close i {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 7px;
    background: #464e5b
}

.style-switcher .theme-close i:hover {
    color: #464e5b;
    background: #fff
}

.style-switcher .theme-heading {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase
}

.style-switcher-logo {
    margin-top: 10px;
    padding-top: 15px;
    border-top: solid 1px #4c5159
}

.style-switcher-logo a {
    display: block;
    text-align: center
}

.style-switcher ul {
    margin-bottom: 0
}

.style-switcher li {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: #c00;
    margin: 0 5px 5px 0;
    display: inline-block
}

.style-switcher li.last {
    margin-right: 0
}

.style-switcher li.theme-active,
.style-switcher li:hover {
    border: 2px solid #fff
}

.style-switcher a.btn-u-green.active-switcher-btn {
    border: 1px solid #eee;
    background: #2ecc71!important
}

.style-switcher a.btn-u-sea.active-switcher-btn {
    border: 1px solid #eee;
    background: #1abc9c!important
}

.style-switcher li.theme-default {
    background: #e67e22
}

.style-switcher li.theme-blue {
    background: #3498db
}

.style-switcher li.theme-orange {
    background: #e67e22
}

.style-switcher li.theme-red {
    background: #e74c3c
}

.style-switcher li.theme-light {
    background: #ecf0f1
}

.nohover:hover {
    text-decoration: none
}

.headline {
    display: block;
    margin: 10px 0 25px;
    border-bottom: 1px dotted #e4e9f0
}

.headline h2,
.headline h3,
.headline h4 {
    color: #585f69;
    margin: 0 0 -2px;
    padding-bottom: 5px;
    display: inline-block
}

.headline h2 {
    font-size: 23px
}

.headline-md {
    margin-bottom: 15px
}

.headline-md h2 {
    font-size: 21px
}

.purchase {
    padding: 30px 0;
    margin-bottom: 30px;
    box-shadow: inset 0 0 4px #eee;
    background: url(../img/breadcrumbs.png)
}

.purchase p {
    margin-bottom: 0
}

.purchase span {
    color: #666;
    display: block;
    font-size: 28px;
    font-weight: 200;
    line-height: 35px;
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif
}

.purchase a.btn-buy {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 22px;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    padding: 12px 28px 9px;
    text-transform: uppercase
}

.purchase a.btn-buy:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 5px #c0c2c1
}

.service {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px 15px 10px
}

.service:hover {
    background: #fcfcfc;
    box-shadow: 0 0 5px #ddd;
    -webkit-transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out
}

.service:hover i {
    color: #656565
}

.service .desc {
    padding: 0 15px;
    overflow: hidden
}

.service .desc h4 {
    font-size: 22px;
    line-height: 25px
}

.service .service-icon {
    float: left;
    padding: 10px;
    font-size: 45px;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.service .service-icon.icon-cogs {
    font-size: 37px
}

.service .service-icon.icon-plane {
    font-size: 43px
}

.recent-work a {
    text-align: center;
    background: #fcfcfc;
    display: inline-block
}

.recent-work a:hover {
    text-decoration: none
}

.recent-work a:hover strong {
    color: #555
}

.recent-work em.overflow-hidden {
    display: block
}

.recent-work a span {
    display: block;
    padding: 10px;
    border-bottom: solid 2px #eee
}

.recent-work a strong {
    color: #555;
    display: block
}

.recent-work a i {
    color: #777
}

.recent-work a img {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.recent-work a:hover img {
    opacity: .8;
    -webkit-transform: scale(1.2) rotate(3deg);
    -moz-transform: scale(1.2) rotate(3deg);
    -o-transform: scale(1) rotate(3deg);
    -ms-transform: scale(1.2) rotate(3deg);
    transform: scale(1.2) rotate(3deg)
}

.recent-work a:hover span {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .3s ease-in-out
}

blockquote p {
    font-size: 16px;
    font-weight: 200
}

blockquote:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hero {
    padding: 18px;
    margin: 20px 0;
    color: #566c8a;
    font-size: 16px;
    background: #fcfcfc;
    border-left: 4px solid #94c564;
    font-family: 'Open Sans', sans-serif
}

.hero h1,
.hero p {
    text-shadow: 1px 1px 0 #fff
}

.hero-unify p {
    font-size: 13px;
    line-height: 20px
}

.work {
    margin-top: 6px
}

.work .details {
    padding: 10px
}

.work .caption {
    display: block;
    padding-top: 5px;
    color: #585f69!important;
    font-size: 18px!important
}

.work .caption:hover {
    cursor: pointer;
    color: #444!important;
    text-decoration: underline
}

a.thumbnail {
    padding: 0;
    border: none;
    margin-bottom: 15px
}

.thumbnail-style {
    padding: 5px;
    margin-bottom: 20px
}

.thumbnail-style:hover {
    box-shadow: 0 0 8px #ddd;
    -webkit-transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out
}

.thumbnail-style h3 {
    margin: 5px 0 0
}

.thumbnail-style h3 a {
    font-size: 20px
}

.thumbnail-style h3 a:hover {
    text-decoration: none
}

.thumbnail-style .thumbnail-img {
    position: relative;
    margin-bottom: 10px
}

.thumbnail-style a.btn-more {
    right: -10px;
    bottom: 10px;
    color: #fff;
    padding: 1px 6px;
    position: absolute;
    display: inline-block
}

.thumbnail-style a.btn-more:hover {
    text-decoration: none
}

.thumbnail-style:hover a.btn-more {
    right: 10px
}

.thumbnail-kenburn img {
    left: 10px;
    margin-left: -10px;
    position: relative;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.thumbnail-kenburn:hover img {
    -webkit-transform: scale(1.2) rotate(2deg);
    -moz-transform: scale(1.2) rotate(2deg);
    -o-transform: scale(1.2) rotate(2deg);
    -ms-transform: scale(1.2) rotate(2deg);
    transform: scale(1.2) rotate(2deg)
}

.servive-block .servive-block-in {
    padding: 20px 30px;
    text-align: center;
    margin-bottom: 20px;
    background: #fafafa;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.servive-block .servive-block-in:hover {
    box-shadow: 0 0 8px #ddd
}

.servive-block .servive-block-in h4 {
    line-height: 25px
}

.servive-block .servive-block-in h4 a:hover {
    color: #e67e22;
    text-decoration: none
}

.servive-block .servive-block-in:hover h4,
.servive-block .servive-block-in:hover i {
    color: #e67e22
}

.servive-block .servive-block-in i {
    color: #565656;
    font-size: 40px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.servive-block .servive-block-red {
    background: #e74c3c
}

.servive-block .servive-block-sea {
    background: #1abc9c
}

.servive-block .servive-block-blue {
    background: #3498db
}

.servive-block .servive-block-grey {
    background: #95a5a6
}

.servive-block .servive-block-yellow {
    background: #f1c40f
}

.servive-block .servive-block-orange {
    background: #e67e22
}

.servive-block .servive-block-green {
    background: #2ecc71
}

.servive-block .servive-block-purple {
    background: #A677B5
}

.servive-block .servive-block-light-grey {
    background: #ccc
}

.servive-block .servive-block-colored h4,
.servive-block .servive-block-colored i,
.servive-block .servive-block-colored p {
    color: #fff
}

.servive-block .servive-block-colored:hover {
    opacity: .8;
    box-shadow: none
}

.servive-block .servive-block-colored:hover h4,
.servive-block .servive-block-colored:hover i {
    color: #fff
}

.service-alternative .service:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.service-alternative .service:hover h4,
.service-alternative .service:hover i,
.service-alternative .service:hover p {
    color: #fff
}

.service-v1 h2 {
    margin: 15px 0;
    font-size: 20px;
    line-height: 28px
}

.service-v1 p {
    text-align: justify
}

.posts .dl-horizontal {
    margin-bottom: 0;
    overflow: hidden
}

.posts .dl-horizontal dt {
    width: 60px;
    float: left
}

.posts .dl-horizontal dt img {
    width: 60px;
    height: 60px;
    padding: 2px;
    margin-top: 2px;
    border: 1px solid #ddd
}

.posts .dl-horizontal dd {
    margin-left: 70px
}

.posts .dl-horizontal dd p {
    margin: 0
}

.posts .dl-horizontal dd a {
    font-size: 14px;
    line-height: 16px!important
}

.posts .dl-horizontal dd a:hover {
    color: #e67e22;
    text-decoration: none
}

.posts .dl-horizontal:hover dd a,
.posts .dl-horizontal:hover dt img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.pagination li a {
    color: #777;
    padding: 5px 15px
}

.testimonials {
    margin-bottom: 10px
}

.testimonials .testimonial-info {
    font-size: 16px;
    padding: 0 15px;
    margin-top: 18px
}

.testimonials .testimonial-info span {
    top: 3px;
    position: relative
}

.testimonials .testimonial-info em {
    color: #777;
    display: block;
    font-size: 13px
}

.testimonials .testimonial-info img {
    width: 60px;
    float: left;
    height: 60px;
    padding: 2px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 50%!important
}

.testimonials .testimonial-author {
    overflow: hidden
}

.testimonials .carousel-arrow {
    top: -65px;
    position: relative
}

.testimonials .carousel-arrow i {
    color: #777;
    font-size: 20px;
    padding: 2px 8px;
    background: #fafafa
}

.testimonials .carousel-arrow i:hover {
    color: #fff
}

.testimonials .carousel-control {
    opacity: 1;
    width: 100%;
    text-align: right;
    text-shadow: none;
    position: absolute
}

.testimonials .carousel-control.left {
    right: 27px;
    left: auto
}

.testimonials .carousel-control.right {
    right: 0
}

.testimonials.testimonials-v1 .item p {
    padding: 15px;
    font-size: 14px;
    font-style: italic;
    position: relative;
    background: #fafafa
}

.testimonials.testimonials-v1 .item p:after,
.testimonials.testimonials-v1 .item p:before {
    width: 0;
    height: 0;
    left: 80px;
    content: " ";
    bottom: -20px;
    display: block;
    position: absolute
}

.testimonials.testimonials-v1 .item p:after {
    border-top: 22px solid #fafafa;
    border-left: 0 solid transparent;
    border-right: 22px solid transparent;
    border-left-style: inset;
    border-right-style: inset
}

.testimonials.testimonials-v2 .testimonial-info {
    padding: 0 20px
}

.testimonials.testimonials-v2 p {
    padding: 15px;
    font-size: 14px;
    font-style: italic;
    background: #fafafa
}

.testimonials.testimonials-v2 .carousel-arrow {
    top: -55px
}

.testimonials.testimonials-v2 .item p:after,
.testimonials.testimonials-v2 .item p:before {
    width: 0;
    height: 0;
    left: 8%;
    content: " ";
    bottom: 45px;
    display: block;
    position: absolute
}

.testimonials.testimonials-v2 .item p:after {
    border-top: 20px solid #fafafa;
    border-left: 25px solid transparent;
    border-right: 0 solid transparent;
    border-left-style: inset;
    border-right-style: inset
}

.tab-v1 .nav-tabs {
    border: none;
    background: 0 0
}

.tab-v1 .nav-tabs a {
    font-size: 14px;
    padding: 5px 15px
}

.tab-v1 .nav-tabs>.active>a,
.tab-v1 .nav-tabs>.active>a:focus,
.tab-v1 .nav-tabs>.active>a:hover {
    color: #fff;
    border: none
}

.tab-v1 .nav-tabs>li>a {
    border: none
}

.tab-v1 .nav-tabs>li>a:hover {
    color: #fff
}

.tab-v1 .tab-content {
    padding: 10px 0
}

.tab-v1 .tab-content img {
    margin-top: 4px;
    margin-bottom: 15px
}

.tab-v1 .tab-content img.img-tab-space {
    margin-top: 7px
}

.tab-v2 .nav-tabs {
    border-bottom: none
}

.tab-v2 .nav-tabs li a {
    padding: 9px 16px;
    background: 0 0;
    border: none
}

.tab-v2 .nav-tabs li.active a {
    background: #fff;
    padding: 7px 15px 9px;
    border: 1px solid #eee;
    border-bottom: none!important
}

.tab-v2 .tab-content {
    padding: 10px 16px;
    border: 1px solid #eee
}

.tab-v3 .nav-pills li a {
    color: #777;
    font-size: 17px;
    padding: 4px 8px;
    margin-bottom: 3px;
    background: #fafafa;
    border: 1px solid #eee
}

.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
    color: #fff
}

.tab-v3 .nav-pills li i {
    width: 1.25em;
    margin-right: 5px;
    text-align: center;
    display: inline-block
}

.tab-v3 .tab-content {
    padding: 15px;
    background: #fafafa;
    border: 1px solid #eee
}

.acc-v1 .panel-heading {
    padding: 0;
    box-shadow: none
}

.acc-v1 .panel-heading a {
    display: block;
    font-size: 14px;
    padding: 5px 15px;
    background: #fefefe
}

.acc-icon a.accordion-toggle i {
    color: #585f69;
    margin-right: 8px
}

.acc-icon a.accordion-toggle:hover i {
    color: #39414c
}

.carousel-v1 .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 7px 15px;
    background: rgba(0, 0, 0, .7)
}

.carousel-v1 .carousel-caption p {
    color: #fff;
    margin-bottom: 0
}

.carousel-v1 .carousel-arrow a.carousel-control {
    opacity: 1;
    font-size: 30px;
    height: inherit;
    width: inherit;
    background: 0 0;
    text-shadow: none;
    position: inherit
}

.carousel-v1 .carousel-arrow a i {
    top: 50%;
    opacity: .6;
    background: #000;
    margin-top: -18px;
    padding: 2px 12px;
    position: absolute
}

.carousel-v1 .carousel-arrow a i:hover {
    opacity: .8
}

.carousel-v1 .carousel-arrow a.left i {
    left: 0
}

.carousel-v1 .carousel-arrow a.right i {
    right: 0
}

.team ul.team-socail {
    text-align: right
}

.team ul.team-socail li {
    padding: 0!important;
    margin: 0!important
}

.team ul.team-socail li a,
.team ul.team-socail li a:hover {
    text-decoration: none
}

.team ul.team-socail li i {
    color: #aaa;
    padding: 3px;
    min-width: 30px;
    font-size: 20px;
    text-align: center;
    background: #f7f7f7;
    display: inline-block
}

.team ul.team-socail li i:hover {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.team .thumbnail-style {
    padding: 12px
}

.team .thumbnail-style small {
    display: block;
    font-size: 12px
}

.team .thumbnail-style h3 {
    margin-bottom: 10px
}

.gallery-page .thumbnail,
.gallery-page .thumbnail:hover {
    padding: 0;
    border: none;
    box-shadow: none
}

.gallery-page .thumbnails {
    margin-bottom: 6px
}

.privacy a {
    text-decoration: underline
}

.privacy a:hover {
    text-decoration: none
}

.portfolio-item h2 {
    color: #555;
    font-size: 24px;
    margin: 0 0 15px
}

.portfolio-item li {
    padding: 3px 0
}

.portfolio-item p a {
    text-decoration: underline
}

.portfolio-item p a:hover {
    text-decoration: none
}

.portfolio-item1 ul {
    margin: 10px 0 20px
}

.portfolio-item1 li {
    font-size: 16px;
    margin-bottom: 3px
}

.portfolio-item1 li i {
    font-size: 18px;
    margin-right: 4px
}

ul.blog-tags li {
    display: inline-block
}

ul.blog-tags a {
    font-size: 13px;
    padding: 2px 7px;
    background: #f7f7f7;
    margin: 0 3px 6px 0;
    display: inline-block
}

ul.blog-tags a i {
    color: #666
}

ul.blog-tags a:hover,
ul.blog-tags a:hover i {
    color: #fff!important;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.blog-photos li {
    display: inline
}

.blog-photos li img {
    opacity: .6;
    width: 58px;
    height: 58px;
    margin: 0 2px 8px
}

.blog-photos li img:hover {
    opacity: 1
}

.blog-twitter .blog-twitter-inner {
    padding: 10px;
    position: relative;
    background: #fafafa;
    margin-bottom: 15px;
    border-top: solid 2px #eee;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.blog-twitter .blog-twitter-inner:after,
.blog-twitter .blog-twitter-inner:before {
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute
}

.blog-twitter .blog-twitter-inner:after {
    border-top: 15px solid #f0f0f0;
    border-right: 15px solid transparent;
    border-left: 0 solid transparent;
    border-left-style: inset;
    border-right-style: inset
}

.blog-twitter .blog-twitter-inner:before {
    border-bottom: 15px solid #fff;
    border-right: 0 solid transparent;
    border-left: 15px solid transparent;
    border-left-style: inset;
    border-bottom-style: inset
}

.blog-twitter .blog-twitter-inner span {
    color: #777;
    display: block;
    font-size: 11px
}

.blog-twitter .blog-twitter-inner a {
    text-decoration: none
}

.blog-twitter .blog-twitter-inner a:hover {
    text-decoration: underline
}

.blog-twitter .blog-twitter-inner i.icon-twitter {
    top: 2px;
    color: #bbb;
    font-size: 18px;
    position: relative
}

.who li {
    margin-bottom: 6px
}

.who li i {
    top: 2px;
    font-size: 18px;
    margin-right: 8px;
    position: relative
}

.who li:hover a:hover {
    text-decoration: none
}

.sidebar-nav-v1 li {
    padding: 0
}

.sidebar-nav-v1 li a {
    display: block;
    padding: 8px 30px 8px 10px
}

.sidebar-nav-v1 li a:hover {
    text-decoration: none
}

.sidebar-nav-v1 li.active,
.sidebar-nav-v1 li.active:hover {
    background: #f5f5f5;
    border-color: #ddd
}

.sidebar-nav-v1 li.active a {
    color: #555
}

.sidebar-nav-v1 span.badge {
    margin-top: 10px;
    margin-right: 10px
}

.sidebar-nav-v1 span.badge-green {
    background: #2ecc71
}

.sidebar-nav-v1 span.badge-red {
    background: #e74c3c
}

.sidebar-nav-v1 span.badge-blue {
    background: #3498db
}

.sidebar-nav-v1 span.badge-sea {
    background: #1abc9c
}

.tag-box {
    padding: 20px;
    margin-bottom: 30px
}

.tag-box h2 {
    font-size: 20px;
    line-height: 25px
}

.tag-box p {
    margin-bottom: 0
}

.tag-box-v1 {
    border: 1px solid #eee
}

.tag-box-v2 {
    background: #fafafa;
    border: 1px solid #eee
}

.tag-box-v3 {
    border: 2px solid #eee
}

.tag-box-v4 {
    border: 1px dashed #bbb
}

.tag-box-v5 {
    margin: 20px 0;
    text-align: center;
    border: 1px dashed #ccc
}

.tag-box-v5 span {
    color: #555;
    font-size: 28px;
    margin-bottom: 0
}

.tag-box-v6 {
    background: #fafafa;
    border: 1px solid #eee
}

.tag-box-v7 {
    border: 1px solid #eee
}

.panel .table {
    margin-bottom: 0
}

.panel-blue {
    border-color: #3498db
}

.panel-blue>.panel-heading {
    color: #fff;
    background: #3498db
}

.panel-red {
    border-color: #e74c3c
}

.panel-red>.panel-heading {
    color: #fff;
    background: #e74c3c
}

.panel-green {
    border-color: #2ecc71
}

.panel-green>.panel-heading {
    color: #fff;
    background: #2ecc71
}

.panel-sea {
    border-color: #1abc9c
}

.panel-sea>.panel-heading {
    color: #fff;
    background: #1abc9c
}

.panel-orange {
    border-color: #e67e22
}

.panel-orange>.panel-heading {
    color: #fff;
    background: #e67e22
}

.panel-yellow {
    border-color: #f1c40f
}

.panel-yellow>.panel-heading {
    color: #fff;
    background: #f1c40f
}

.panel-grey {
    border-color: #95a5a6
}

.panel-grey>.panel-heading {
    color: #fff;
    background: #95a5a6
}

.fullwidthbanner-container.slider-promo {
    max-height: 460px!important
}

.slider-promo-info-bg {
    padding: 25px 20px 20px;
    background: url(../img/bg-black.png)
}

.slider-promo-info span.big-size {
    color: #fff;
    display: block;
    font-size: 30px;
    margin-bottom: 25px;
    text-shadow: 0!important
}

.slider-promo-info p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0
}

.promo-box {
    padding: 20px;
    margin: 25px 0 20px;
    text-align: center
}

.promo-box i {
    display: block;
    font-size: 50px
}

.promo-box p {
    font-size: 14px;
    margin-bottom: 0
}

.promo-box strong,
.promo-box strong a {
    color: #555;
    font-size: 20px;
    display: block;
    margin: 20px 0 15px;
    font-weight: 200
}

.promo-box:hover strong,
.promo-box:hover strong a {
    color: #e74c3c
}

.promo-service {
    margin-bottom: 20px
}

.promo-service a.btn-u {
    margin: 0 20px 10px 0
}

.title-box {
    margin: 20px 0;
    padding: 40px 0;
    font-size: 16px;
    text-align: center;
    border-bottom: solid 1px #eee
}

.title-box .title-box-text {
    color: #555;
    display: block;
    font-size: 35px;
    font-weight: 200
}

.block-blockquote {
    margin: 20px 0;
    text-align: center;
    border: 1px dashed #ccc
}

.block-blockquote-inner {
    padding: 15px
}

.block-blockquote p {
    font-size: 26px;
    margin-bottom: 0
}

.info-blocks {
    margin-bottom: 15px
}

.info-blocks:hover i.icon-info-blocks {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.info-blocks i.icon-info-blocks {
    float: left;
    color: #777;
    font-size: 40px;
    margin-top: 5px;
    min-width: 50px;
    text-align: center
}

.info-blocks .info-blocks-in {
    padding: 0 10px;
    overflow: hidden
}

.info-blocks .info-blocks-in h3 {
    color: #555;
    font-size: 20px;
    line-height: 28px
}

.info-blocks .info-blocks-in p {
    font-size: 12px
}

#logo-header {
    height: 70px;
    margin-top: -20px;
    margin-left: 5px
}

#logo-header-sm {
    width: 235px;
    height: 43px;
    margin-left: 5px
}

.goog-te-gadget-simple {
    font-size: 8pt!important;
    padding-top: 0;
    padding-bottom: 0
}

.gsc-search-button {
    display: none
}

input.gsc-input {
    font-size: 14px!important
}

.gsib_a {
    padding: 0!important
}

.top {
    padding-top: 8px
}

.top ul.loginbar {
    margin: 0;
    padding: 0;
    z-index: 9999;
    position: relative
}

.top ul.loginbar>li {
    display: inline;
    list-style: none;
    padding-bottom: 15px
}

.top ul.loginbar>li>a,
.top ul.loginbar>li>a:hover {
    color: #7c8082;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif
}

.top ul.loginbar li.devider {
    top: -1px;
    padding: 0;
    font-size: 8px;
    position: relative;
    margin: 0 9px 0 5px;
    font-family: Tahoma;
    border-right: solid 1px #bbb
}

.top ul.loginbar li i.icon-globe {
    color: #bbb
}

.top ul.lenguages {
    top: 25px;
    left: -5px;
    display: none;
    padding: 4px 0;
    list-style: none;
    min-width: 100px;
    position: absolute;
    background: #f0f0f0
}

.top li:hover ul.lenguages {
    display: block
}

.top ul.lenguages:after {
    top: -4px;
    width: 0;
    height: 0;
    left: 8px;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 6px solid #f0f0f0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left-style: inset;
    border-right-style: inset
}

.top ul.lenguages li a {
    color: #555;
    display: block;
    font-size: 10px;
    padding: 2px 12px;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif
}

.top ul.lenguages li.active a i {
    color: #999;
    float: right;
    margin-top: 2px
}

.top ul.lenguages li a:hover,
.top ul.lenguages li.active a {
    background: #fafafa
}

.top ul.lenguages li a:hover {
    text-decoration: none
}

.header {
    z-index: 999;
    position: relative;
    border-bottom: solid 2px #eee
}

.header .navbar {
    margin: 0;
    min-height: inherit
}

.header .navbar-default {
    border: none;
    background: 0 0
}

.header .navbar-collapse {
    position: relative
}

.header .navbar-brand {
    z-index: 2;
    position: relative;
    padding: 0 10px 10px
}

.header .navbar-default .navbar-nav>li>a {
    color: #687074;
    font-size: 15px;
    font-weight: 400;
    padding: 9px 10px;
    text-transform: uppercase
}

.header .navbar-right .dropdown-menu {
    right: inherit
}

.header .navbar .nav>li>a i.icon-angle-down {
    top: -1px;
    left: 1px;
    font-size: 12px;
    position: relative;
    margin: 0!important
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff
}

.header .navbar .search-open {
    right: 0;
    top: 50px;
    display: none;
    padding: 14px;
    position: absolute;
    background: #fcfcfc;
    border-top: solid 2px #eee;
    box-shadow: 0 1px 3px #ddd
}

.header .navbar .nav>li>a.search {
    color: #aaa;
    cursor: pointer;
    padding: 8px 8px 10px;
    border-bottom-color: #aaa;
    background: #f7f7f7!important
}

.header .navbar .search-open form {
    margin: 0
}

.header .navbar a.search [class*=" icon-"],
.header .navbar a.search [class^=icon-] {
    width: 1.25em;
    text-align: center;
    display: inline-block
}

.header .navbar a.search [class*=" icon-"].icon-large,
.header .navbar a.search [class^=icon-].icon-large {
    width: 1.5625em
}

@media (min-width:767px) {
    .header .navbar-collapse {
        padding: 0
    }
    .header .navbar-nav {
        top: 2px;
        margin-top: 10px;
        position: relative
    }
    .header .navbar-default .navbar-nav>li>a,
    .header .navbar-default .navbar-nav>li>a:focus {
        border-bottom: solid 2px transparent
    }
    .header .navbar-default .navbar-nav>.active>a,
    .header .navbar-default .navbar-nav>li>a:hover {
        border-bottom: solid 2px #e67e22
    }
    .header .navbar-default .navbar-nav>.active>a,
    .header .navbar-default .navbar-nav>.active>a:focus,
    .header .navbar-default .navbar-nav>.active>a:hover,
    .header .navbar-default .navbar-nav>li>a,
    .header .navbar-default .navbar-nav>li>a:focus,
    .header .navbar-default .navbar-nav>li>a:hover {
        background: 0 0
    }
    .header .navbar-default .navbar-nav>.open>a,
    .header .navbar-default .navbar-nav>.open>a:focus,
    .header .navbar-default .navbar-nav>.open>a:hover {
        color: #e67e22
    }
    .header .dropdown-menu {
        padding: 0;
        border: none;
        min-width: 200px;
        border-radius: 0;
        z-index: 9999!important;
        margin-top: -2px!important;
        border-top: solid 2px #e67e22;
        border-bottom: solid 2px #687074
    }
    .header .dropdown-menu li a {
        color: #687074;
        font-size: 13px;
        font-weight: 400;
        padding: 6px 15px;
        border-bottom: solid 1px #eee
    }
    .header .dropdown-menu .active>a,
    .header .dropdown-menu li>a:hover {
        color: #fff;
        filter: none!important;
        background: #687074!important;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out
    }
    .header .dropdown-menu li>a:focus {
        background: 0 0;
        filter: none!important
    }
    .header .navbar .search-open {
        width: 330px
    }
}

@media (max-width:767px) {
    .header .navbar .search-open {
        left: 20px;
        top: inherit;
        bottom: -5px;
        padding: 15px;
        border-top: none;
        box-shadow: none;
        background: 0 0
    }
}

@media (max-width:768px) {
    .purchase span {
        font-size: 24px;
        line-height: 32px
    }
    .purchase a.btn-buy {
        font-size: 14px;
        padding: 9px 22px 6px
    }
    .table td.hidden-sm,
    .table th.hidden-sm {
        display: none!important
    }
    .mb-margin-bottom-20 {
        margin-bottom: 20px
    }
    .mb-margin-bottom-30 {
        margin-bottom: 30px
    }
    .mb-margin-bottom-40 {
        margin-bottom: 40px
    }
    .mb-margin-bottom-50 {
        margin-bottom: 50px
    }
    .mb-margin-bottom-60 {
        margin-bottom: 60px
    }
}

@media (max-width:992px) {
    .md-margin-bottom-20 {
        margin-bottom: 20px
    }
    .md-margin-bottom-30 {
        margin-bottom: 30px
    }
    .md-margin-bottom-40 {
        margin-bottom: 40px
    }
    .md-margin-bottom-50 {
        margin-bottom: 50px
    }
    .md-margin-bottom-60 {
        margin-bottom: 60px
    }
}

@media (max-width:900px) {
    #sequence-theme .info {
        top: 80px!important;
        width: 60%!important;
        margin-right: 50px
    }
    .da-slide .da-img {
        display: none
    }
}

@media (max-width:450px) {
    #sequence-theme .info {
        top: 70px!important;
        width: 70%!important;
        margin-right: 25px
    }
    #sequence-theme h2 {
        font-size: 30px!important
    }
    #sequence-theme .info p {
        font-size: 18px!important
    }
    .da-slide p {
        display: none
    }
}

.search-page h2 {
    font-size: 28px;
    margin-bottom: 10px
}

.search-blocks {
    overflow: hidden;
    padding: 15px 20px;
    margin-bottom: 25px;
    background: #fcfcfc;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.search-blocks p a {
    color: #e67e22
}

.search-blocks .search-img li i {
    color: #78ccf8;
    font-size: 12px;
    margin-right: 5px
}

.search-blocks .search-img img {
    display: block;
    margin: 5px 10px 10px 0
}

.search-blocks h2 {
    margin-top: 0;
    font-size: 20px;
    line-height: 20px
}

.search-blocks ul.search-rating li {
    display: inline
}

.search-blocks ul.search-rating li i {
    color: #f8be2c;
    cursor: pointer;
    font-size: 16px
}

.search-blocks ul.search-rating li i:hover {
    color: #f8be2c
}

.search-blocks-colored .search-img li,
.search-blocks-colored .search-img li i,
.search-blocks-colored h2 a,
.search-blocks-colored p {
    color: #fff
}

.search-blocks-red {
    background: #e74c3c
}

.search-blocks-blue {
    background: #3498db
}

.search-blocks-grey {
    background: #95a5a6
}

.search-blocks-sea {
    background: #1abc9c
}

.search-blocks-top-sea {
    border-top: solid 2px #1abc9c
}

.search-blocks-top-sea:hover {
    border-top-color: #16a085
}

.search-blocks-top-yellow {
    border-top: solid 2px #f1c40f
}

.search-blocks-top-yellow:hover {
    border-top-color: #f39c12
}

.search-blocks-left-orange {
    border-left: solid 2px #e67e22
}

.search-blocks-left-orange:hover {
    border-left-color: #d35400
}

.search-blocks-left-green {
    border-left: solid 2px #e67e22
}

.search-blocks-left-green:hover {
    border-left-color: #5fb611
}

.search-blocks-right-green {
    border-right: solid 2px #e67e22
}

.search-blocks-right-green:hover {
    border-right-color: #5fb611
}

.magazine-page h3,
.magazine-page h3 a {
    color: #555;
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    margin-bottom: 1px;
    text-decoration: none
}

.magazine-page span.magazine-badge {
    top: 0;
    left: 0;
    color: #fff;
    font-size: 14px;
    padding: 2px 8px;
    position: absolute;
    font-style: inherit;
    opacity: .9
}

.magazine-page span.magazine-badge-default {
    background: #e67e22
}

.magazine-page span.magazine-badge-red {
    background: #e74c3c
}

.magazine-page span.magazine-badge-green {
    background: #2ecc71
}

.magazine-page span.magazine-badge-blue {
    background: #3498db
}

.magazine-news {
    margin-bottom: 20px
}

.magazine-news h3 {
    margin: 15px 0 10px
}

.magazine-news .by-author span {
    color: #595959;
}

.magazine-news .by-author {
    margin-bottom: 8px
}

.magazine-news-img {
    overflow: hidden;
    max-height: 150px;
    position: relative
}

.magazine-mini-news .post-author {
    font-size: 11px
}

.magazine-mini-news h3,
.magazine-mini-news h3 a {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 6px
}

.magazine-mini-news .post-author {
    margin-bottom: 8px
}

.magazine-mini-news .post-author span {
    color: #555
}

.news-read-more {
    margin: 20px 0
}

.news-read-more a {
    font-size: 14px
}

.news-read-more a:hover {
    text-decoration: none
}

.news-read-more i {
    color: #fff;
    padding: 2px 3px;
    font-size: 14px
}

.magazine-posts {
    margin-bottom: 18px
}

.magazine-posts span {
    color: #555;
    display: block;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 12px
}

.magazine-posts .magazine-posts-img {
    overflow: hidden;
    max-height: 105px;
    position: relative
}

.magazine-posts .magazine-posts-img:hover img {
    opacity: .9
}

.magazine-sb-categories ul li {
    font-size: 14px;
    margin-bottom: 5px
}

.magazine-sb-categories ul i {
    color: #e67e22;
    font-size: 14px
}

.magazine-sb-social .social-icons li {
    margin-right: 8px;
    margin-bottom: 8px
}

.kwicks {
    width: 100%;
    height: 415px
}

.kwicks>li {
    width: 100%;
    height: 100px;
    margin-top: 5px
}

.kwicks li h4 {
    float: left
}

.kwicks span.magazine-badge-default {
    width: 100%
}

.blog h2 {
    color: #555;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 10px
}

.blog h2 a {
    line-height: 32px
}

.blog h2 a:hover {
    text-decoration: none
}

.blog .blog-img {
    margin: 20px 0
}

.blog-post-tags {
    padding: 5px 0 8px;
    margin-bottom: 10px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee
}

.blog-post-tags ul {
    margin-bottom: 0
}

.blog-post-tags li {
    font-size: 12px
}

.blog-post-tags li i {
    color: #777
}

.blog-post-tags ul.blog-info {
    color: #eee;
    margin-bottom: 3px
}

.blog-post-tags ul.blog-tags a {
    color: #555;
    font-size: 11px;
    display: inline;
    padding: 3px 7px;
    margin-right: 2px;
    background: #f4f4f4
}

.blog-item .media img {
    top: 3px;
    width: 54px;
    height: 54px;
    position: relative
}

.blog-item .media h3,
.post-comment h3 {
    font-size: 21px;
    margin-bottom: 25px
}

.blog-item .media h4.media-heading {
    color: #555;
    font-size: 17px;
    position: relative
}

.blog-item .media h4.media-heading span {
    top: 3px;
    right: 0;
    color: #777;
    font-size: 12px;
    position: absolute
}

.blog-medium .blog-info li {
    color: #777
}

@media (max-width:992px) {
    .blog-medium img {
        margin-bottom: 20px
    }
}

.blog-full-width ul.blog-info {
    margin-bottom: 0
}

.gCalFlow .gcf-item-daterange {
    font-size: inherit;
    display: inline
}

.gCalFlow .gcf-header-block {
    display: hidden
}

.gCalFlow .gcf-item-body-block {
    color: #333
}

.color-green,
.linked:hover,
a.read-more:hover,
a:active,
a:focus,
a:hover {
    color: #e67e22
}

.da-slide h2 i {
    background: url(../../plugins/parallax-slider/img/bg-heading-orange.png)
}

.sequence-inner {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#fcf2de));
    background: -webkit-linear-gradient(#fff, #fcf2de);
    background: -moz-linear-gradient(#fff, #fcf2de);
    background: -ms-linear-gradient(#fff, #fcf2de);
    background: -o-linear-gradient(#fff, #fcf2de);
    background: linear-gradient(#fff, #fcf2de)
}

#sequence-theme .info p,
#sequence-theme h2 {
    background: rgba(230, 126, 34, .8)
}

.purchase a.btn-buy {
    background: #e67e22;
    text-shadow: 0 1px 0 #d35400
}

.purchase a.btn-buy:hover {
    background: #d35400
}

.btn-u {
    background: #e67e22
}

.btn-u:hover {
    background: #d35400
}

.service .service-icon {
    color: #e67e22
}

.service-alternative .service:hover {
    background: #e67e22
}

.thumbnail-style h3 a:hover {
    color: #e67e22
}

.thumbnail-style a.btn-more {
    background: #e67e22
}

.thumbnail-style a.btn-more:hover {
    box-shadow: 0 0 0 2px #d35400
}

.recent-work a:hover span {
    border-bottom: solid 2px #e67e22
}

.bx-wrapper .bx-next,
.bx-wrapper .bx-prev {
    background-image: url(../../plugins/bxslider/images/controls-orange.png)
}

.headline h2,
.headline h3,
.headline h4 {
    border-bottom: 2px solid #e67e22
}

.hero,
blockquote:hover {
    border-left-color: #e67e22
}

.carousel-arrow a.carousel-control:hover,
.copyright a,
.copyright a:hover,
.footer a,
.footer a:hover {
    color: #e67e22
}

.footer .dl-horizontal a:hover {
    color: #e67e22!important
}

.posts .dl-horizontal a:hover {
    color: #e67e22
}

.posts .dl-horizontal:hover dd a,
.posts .dl-horizontal:hover dt img {
    color: #e67e22;
    border-color: #e67e22!important
}

.blog-item .media h3,
.blog-item .media h4.media-heading span a,
.post-comment h3 {
    color: #e67e22
}

.tab-v1 .nav-tabs {
    border-bottom: solid 2px #e67e22
}

.tab-v1 .nav-tabs>.active>a,
.tab-v1 .nav-tabs>.active>a:focus,
.tab-v1 .nav-tabs>.active>a:hover,
.tab-v1 .nav-tabs>li>a:hover {
    background: #e67e22
}

.tab-v2 .nav-tabs li.active a {
    border-top: solid 2px #e67e22
}

.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
    background: #e67e22;
    border: 1px solid #d35400
}

.acc-home a.accordion-toggle:hover,
.acc-home a.active {
    color: #e67e22
}

.acc-home .collapse.in {
    border-bottom: solid 1px #e67e22
}

.testimonials .testimonial-info {
    color: #e67e22
}

.testimonials .carousel-arrow i:hover {
    background: #e67e22
}

.breadcrumb li a:hover,
.breadcrumb li.active,
.info-blocks:hover i.icon-info-blocks {
    color: #e67e22
}

.team .thumbnail-style:hover h3 a {
    color: #e67e22!important
}

.team ul.team-socail li i:hover {
    background: #e67e22
}

.pricing:hover h4 {
    color: #e67e22
}

.pricing-head h3 {
    background: #e67e22;
    text-shadow: 0 1px 0 #d35400;
    border-bottom: solid 1px #d35400
}

.pricing-head h4 {
    color: #999;
    background: #fcfcfc;
    border-bottom: solid 1px #ffe7d1
}

.pricing-content li {
    border-bottom: solid 1px #ffe7d1
}

.pricing-content li i {
    color: #e67e22
}

.pricing-footer a,
.pricing-footer button {
    background: #e67e22;
    text-shadow: 0 1px 0 #d35400;
    border-bottom: solid 2px #d35400
}

.pricing-footer a:hover,
.pricing-footer button:hover {
    background: #d35400
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4,
.price-active h4,
.privacy a:hover,
.who li i,
.who li:hover a,
.who li:hover i {
    color: #e67e22
}

.view a.info:hover {
    background: #e67e22
}

.sorting-block .sorting-nav li.active {
    color: #e67e22;
    border-bottom: solid 1px #e67e22
}

.sorting-block .sorting-grid li a:hover span.sorting-cover {
    background: #e67e22
}

.blog h3,
.blog li a:hover {
    color: #e67e22
}

.blog-post-tags ul.blog-tags a:hover,
ul.blog-tags a:hover {
    background: #e67e22
}

.blog-photos li img:hover {
    box-shadow: 0 0 0 2px #e67e22
}

.blog-twitter .blog-twitter-inner:hover {
    border-color: #e67e22
}

.blog-twitter .blog-twitter-inner:hover:after {
    border-top-color: #e67e22
}

.blog-item h4.media-heading span a,
.blog-twitter .blog-twitter-inner a {
    color: #e67e22
}

.coming-soon-border {
    border-top: solid 3px #e67e22
}

.booking-blocks p a,
.icon-page li:hover {
    color: #e67e22
}

.glyphicons-demo a:hover {
    color: #e67e22;
    text-decoration: none
}

.magazine-mini-news .post-author strong,
.magazine-news .by-author strong,
.magazine-news a.read-more {
    color: #e67e22
}

.news-read-more i {
    background: #e67e22
}

.magazine-page h3 a:hover {
    color: #e67e22
}

.tag-box-v1 {
    border-top: solid 2px #e67e22
}

.tag-box-v2 {
    border-left: solid 2px #e67e22
}

.tag-box-v7 {
    border-bottom: solid 2px #e67e22
}

.fa-icons li:hover {
    color: #e67e22
}

.fa-icons li:hover i {
    background: #e67e22
}

.bs-glyphicons li:hover {
    color: #e67e22
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #e67e22;
    border-color: #e67e22
}

.pager li>a:focus,
.pager li>a:hover,
.pagination li a:hover {
    background: #d35400;
    border-color: #d35400
}

.reg-block {
    border-top: solid 2px #e67e22
}

.header .navbar-default .navbar-nav>.active>a {
    color: #e67e22
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-toggle {
    background: #e67e22
}

.navbar-toggle:hover {
    background: #d35400!important
}

.navbar-default .navbar-toggle {
    border-color: #d35400
}

.header .navbar .nav>li>a.search:hover {
    color: #e67e22;
    border-bottom-color: #e67e22
}

@media (min-width:767px) {
    .header .navbar-default .navbar-nav>.active>a,
    .header .navbar-default .navbar-nav>li>a:hover {
        border-bottom: solid 2px #e67e22
    }
    .header .navbar-default .navbar-nav>.open>a,
    .header .navbar-default .navbar-nav>.open>a:focus,
    .header .navbar-default .navbar-nav>.open>a:hover {
        color: #e67e22
    }
    .header .dropdown-menu {
        border-top: solid 2px #e67e22
    }
}

.remind101-messages {
    width: 100%!important;
    max-width: 100%!important;
    margin-top: -8px
}

.building {
    background-image: url(/buildings/clearview/background-15.png);
    background-size: cover;
    background-repeat: no-repeat
}

.school {
    width: 100%
}

.footer {
    color: #dadada;
    padding: 20px 0 30px;
    background: #585f69
}

.footer.margin-top-0 {
    margin-top: 0
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5 {
    text-shadow: none;
    font-weight: 400!important
}

.footer a,
.footer p {
    font-size: 14px
}

.footer p {
    color: #dadada
}

.footer a {
    color: #e67e22
}

.footer a:hover {
    color: #a8f85f;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.footer h2,
.footer h3,
.footer h4 {
    color: #e4e4e4;
    background: 0 0;
    text-shadow: none
}

.footer .footer-subsribe {
    width: 85%
}

.footer .blog-list {
    margin: 0;
    padding: 0;
    color: #dadada;
    list-style: none
}

.footer .blog-list li {
    padding: 0;
    margin-bottom: 7px
}

.footer .blog-list li span {
    color: #818488
}

.footer .dl-horizontal,
.footer .dl-horizontal:hover {
    border: none!important;
    background: none!important
}

.footer .dl-horizontal a {
    color: #dadada
}

.footer .dl-horizontal a:hover {
    color: #a8f85f!important
}

.footer .dl-horizontal img {
    border-color: #888!important
}

.copyright {
    font-size: 12px;
    padding: 11px 0 7px;
    background: #3e4753;
    border-top: solid 1px #777
}

.copyright p {
    color: #dadada
}

.copyright p.copyright-space {
    margin-top: 12px
}

.copyright a {
    margin: 0 5px;
    color: #e67e22
}

.copyright a:hover {
    color: #a8f85f
}
